#start-btn{
  background-color: rgb(224, 14, 14);
}

.hide {
  display: none;
}
.marker {
  font-size: 3rem;
  height: 100%;
  width: 100%;
  text-align: center;
}
.player-title {
  width: 45%;
}
.player-one, .player-two {
  font-size: 1.2rem;
}
#board-container {
  max-width: 80vw;
}
.board {
  display: flex;
  flex-wrap: wrap;
  width: 40vw;
  max-width: 80vw;
  height: 40vh;
  margin: 0 auto;
  border: 1px solid black;
}

.row {
  margin: 0;
  width: 100%;
  height: 33%;
}
.cell {
  width: 33%;
  height: 100%;
  border: 1px solid black;
  box-sizing: border-box;
  padding: 0;
}

.cell.top {
  border-top: none;
}

.cell.bottom {
  border-bottom: none;
}

.cell.left {
  border-left: none;
}

.cell.right {
  border-right: none;
}

.cell.top.left {
  border-top: none;
  border-left: none;
}

.cell.top.right {
  border-top: none;
  border-right: none;
}

.cell.bottom.left {
  border-bottom: none;
  border-left: none;
}

.cell.bottom.right {
  border-bottom: none;
  border-right: none;
}

.turn-alert {
  color: red;
}

.winner-cells-alert {
  border: 1px solid white;
  color: white;
  background-color: red;
}